/* 縦スクロールを強制的に表示するためのCSS */
.menuContainer {
    height: 100vh;
    overflow-y: scroll; /* 縦スクロールバーを常に表示 */
    overflow-x: hidden; /* 横スクロールバーを無効化 */
    border: 2px solid red; /* デバッグ用に境界線を表示 */
    background-color: lightgrey; /* 見やすくするために背景色を設定 */
}



.collapsed {
    max-height: 0;
    overflow: hidden; /* 折り畳み時はスクロールを無効にする */
    transition: max-height 0.5s ease;
}

.expanded {
    max-height: 500px; /* 展開時の高さ（適宜調整） */
    overflow-y: auto;  /* 展開時はスクロールを有効にする */
    overflow-x: hidden; /* 横スクロールバーを無効化 */
    transition: max-height 0.5s ease;
}

/* メニューのインデント */
.indented {
    padding-left: 20px !important; 
}

/* メニューの余白 */
.navItem {
    padding-left: 20px !important; 
    margin-top: 5px !important;
    margin-bottom: 1px !important;
}

/* メニューの余白 */
.navLink {
    padding: 2px !important;
    line-height: 1.2;
}

/* メニューの文字サイズ */
.largeText {
    font-size: 14px !important; 
}
